.container{
    padding: 20px;
}
.Add-users{
  margin: auto;
}
.order-cards{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.table{
    padding: 30px;
}
.price{
    margin-top: 15px;
    color: gray;
}