.container{
    padding: 20px;
}
.Add-users{
  margin: auto;
}
.order-cards{
    margin-top: 60px;
    margin-bottom: 80px;
}
.resentbtn{
    margin-left: 70px;
}
.table{
    padding: 30px;
}
.card{
    margin: auto;
}
.price{
    margin-top: 15px;
    color: gray;
}